<div class="container containerInfoM mt-5 shadow rounded-lg">
    <p class="text-center pt-5 time title-time">Tipo de cambio</p>
    <hr>
    <div class="container pb-3 pt-3">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card-header">
                    <h3 class="card-title">Compra</h3>
                </div>
                <div class="card-body">
                    <p class="lead">$ <strong><%-CompraUSD%></strong> mxn</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-header">
                    <h3 class="card-title">Venta</h3>
                </div>
                <div class="card-body">
                    <p class="lead">$ <strong><%-ventaUSD%></strong> mxn</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <p class="lead">Cajero <strong><%-Cajero%></strong></p>
        </div>
    </div>
</div>

<div class="container mt-4 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 btn-Container shadow rounded-lg">
            <div class="row">
                <div class="col-md-4 pb-2 pt-2">
                    <form action="compra" method="POST">
                        <button type="submit" class="btn btn-actions"><img src="/img/Compra.png" alt="" width="20%"
                                class="mr-3">Compra</button>
                    </form>
                </div>
                <div class="col-md-4 pb-2 pt-2">
                    <form action="venta" method="POST">
                        <button type="submit" class="btn btn-actions"><img src="/img/Venta.png" alt="" width="20%"
                                class="mr-3">Venta</button>
                    </form>
                </div>
                <div class="col-md-4 pb-2 pt-2">
                    <form action="reporte" method="POST">
                        <button type="submit" class="btn btn-actions"><img src="/img/cheque.png" alt="" width="20%"
                                class="mr-3">Reportes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>